<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactos </title>
    <link rel="stylesheet" href="contactos.css">
    

</head>
<body>
    <header class="header"> 
      <nav class="nav">
        <a href="/INICIO" class="logo"></a>
        <ul class="nav-menu">
            <img src="/img/logo.png" alt="logo" class="logo">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link">INICIO</a></li>
            <li class="nav-menu-item"><a href="perros" class="nav-menu-link">PERROS</a></li>
            <li class="nav-menu-item"><a href="gatos" class="nav-menu-link">GATOS</a></li>
            <li class="nav-menu-item"><a href="contactos" class="nav-menu-link">CONTACTANOS</a></li>
            <li class="nav-menu-item"><a href="galeria" class="nav-menu-link">GALERIA</a></li>
            <li class="nav-menu-item"><a href="help" class="nav-menu-link">AYUDA</a></li>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand"></a>       
        </nav>
    </header>
    
    <!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="contacto.css" />
  </head>
  <body>
    <div class="container">
      <div class="tarjeta">
        
        <form action="/validar" method="POST">
          <label for="nombre">Nombres:</label>
          <input type="text" id="nom" name="nombre" required />
          <label for="nombre">Apellidos:</label>
          <input type="text" id="Ape" name="Apellidos" required />
          <label for="email">Correo Electronico:</label>
          <input type="email" id="ema" name="email" required />
          <label for="telefono">Teléfono:</label>
          <input type="text" id="tel" name="telefono" required />
          <label for="animal">Tipo de animal:</label><br>
          <select id="anim" name="animal">
            <option value="perro">Perro</option>
            <option value="gato">Gato</option>
            <option value="pajaro">Pájaro</option>
            <option value="pez">Pez</option>
            <option value="otro">Otro</option>
          </select><br><br>
          <label for="consulta">Tipo de consulta:</label><br>
          <select id="consul" name="consulta">
            <option value="cmedica">Consulta medica</option>
            <option value="Emergencia">Emergencia</option>
            <option value="Citas">Citas</option>
            <option value="otro">Otro</option>
          </select><br><br>
          <label for="mensaje">Mensaje:</label>
          <textarea id="mens" name="mensaje" required></textarea>
          <div class="buttons">
            <button >
              <span>ENVIAR</span> 
            </button>

          </div>
          
        </form>
      </div>
    </div>
  </body>
</html>

</body>
</html>