<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animal Gallery</title>
    <link rel="stylesheet" href="galeria.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#" class="logo">Animal Gallery</a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="/" class="nav-menu-link">INICIO</a>
          </li>
          <li class="nav-menu-item">
            <a href="/perros" class="nav-menu-link">PERROS</a>
          </li>
          <li class="nav-menu-item">
            <a href="/gatos" class="nav-menu-link">GATOS</a>
          </li>
          <li class="nav-menu-item"><a href="galeria" class="nav-menu-link">GALERIA</a></li>
          <li class="nav-menu-item"><a href="help" class="nav-menu-link">AYUDA</a></li>
        </ul>
      </nav>
    </header>
    <div class="gallery">
      <!-- Perros -->
      <div class="image">
        <img src="/img/prro.jpg" alt="Perro 1" />
        <div class="description">¡Este es un lindo perro!</div>
      </div>

      <div class="image">
        <img src="/img/prrito.jpg" alt="Perro 2" />
        <div class="description">¡Un perro juguetón!</div>
      </div>

      <div class="image">
        <img src="/img/mishii.jpg" alt="Gato 1" />
        <div class="description">¡Aquí tienes un gato muy tierno!</div>
      </div>

      <div class="image">
        <img src="/img/gato.jpg" alt="Gato 2" />
        <div class="description">¡Un gato durmiendo plácidamente!</div>
      </div>

      <div class="image">
        <img src="/img/ajolote.png" alt="Otro Animal 1" />
        <div class="description">Descripción del otro animal 1</div>
      </div>

      <div class="image">
        <img src="/img/JUALIAN.jpg" alt="Otro Animal 2" />
        <div class="description">Descripción del otro animal 2</div>
      </div>
    </div>
  </body>
</html>
