<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gatos </title>
    <link rel="stylesheet" href="gatos.css">

</head>
<body>
    <header class="header"> 
        <nav class="nav">
            <a href="/INICIO" class="logo"></a>
            <ul class="nav-menu">
                <img src="/img/logo.png" alt="logo" class="logo">
                <li class="nav-menu-item"><a href="/" class="nav-menu-link">INICIO</a></li>
                <li class="nav-menu-item"><a href="perros" class="nav-menu-link">PERROS</a></li>
                <li class="nav-menu-item"><a href="gatos" class="nav-menu-link">GATOS</a></li>
                <li class="nav-menu-item"><a href="contactos" class="nav-menu-link">CONTACTANOS</a></li>
                <li class="nav-menu-item"><a href="galeria" class="nav-menu-link">GALERIA</a></li>
                <li class="nav-menu-item"><a href="help" class="nav-menu-link">AYUDA</a></li>
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand"></a>       
            </nav>
    </header>   
    <head> 
        <header>
            <h1>Los mejores artículos para tu gato</h1>
        </header>
        <article>
            <h2>Juguetes para gatos</h2>
            <p>Los juguetes son esenciales para mantener a tu gato entretenido y activo. Aquí te presentamos algunos de los mejores juguetes para gatos:</p>
            <ul>
                <li>Juguetes con plumas</li>
                <li>Túneles para gatos</li>
                <li>Pelotas de catnip</li>
            </ul>
            <img src="/img/pluma de gatos.jpg" alt="Juguetes para gatos" class="tamaño-imagen">
            <img src="/img/tuneles.jpg" alt="Juguetes para gatos" class="tamaño-imagen"> 
        </article>
        
        <article>
            <h2>Rascadores para gatos</h2>
            <p>Los rascadores son importantes para que tu gato pueda afilar sus uñas de forma segura y satisfacer sus instintos naturales de rascar. Aquí te recomendamos algunos tipos de rascadores:</p>
            <ul>
                <li>Rascadores de cartón</li>
                <li>Rascadores de poste vertical</li>
                <li>Árboles rascadores</li>
            </ul>
            <img src="/img/pluma de gatos.jpg" alt="Juguetes para gatos" class="tamaño-imagen">
        </article>
        <!-- Otros artículos pueden seguir aquí -->
    </body>
    </head>
</body>

</html>