<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERROS </title>
    <link rel="stylesheet" href="perros.css">

</head>
<body>
    <header class="header"> 
        <nav class="nav">
         <a href="#" class="logo"> </a>

         <ul class="nav-menu">
            <li class="nav-menu-item"><a href="/" class="nav-menu-link">INICIO</a></li>
            <li class="nav-menu-item"><a href="perros" class="nav-menu-link">PERROS</a></li>
            <li class="nav-menu-item"><a href="gatos" class="nav-menu-link">GATOS</a></li>
            <li class="nav-menu-item"><a href="contactos" class="nav-menu-link">CONTACTOS</a></li>
            <li class="nav-menu-item"><a href="galeria" class="nav-menu-link">GALERIA</a></li>
            <li class="nav-menu-item"><a href="help" class="nav-menu-link">AYUDA</a></li>
            
               <a href="#" class="logo"> </a>
    
              </ul>
        </nav>
    </header>   
    <head> 
        <h1> PERROS</h1>
        <h2>Nuestra selección de comida para perros</h2>
        <img src="/img/perritocomida.jpg" alt="Comida para perros">
        <p>
            En nuestra tienda, ofrecemos una amplia variedad de comida premium para gatos, 
            cuidadosamente seleccionada para satisfacer las necesidades nutricionales de tu felino amigo. 
            Desde comida seca hasta comida húmeda y snacks saludables, ¡tenemos todo lo que tu gato necesita 
            para mantenerse feliz y saludable!
        </p>
        <p>
            Nuestros productos están elaborados con ingredientes de alta calidad y formulados 
            por expertos en nutrición felina para garantizar una alimentación equilibrada y deliciosa para tu gato.
             ¡Visítanos hoy y descubre lo que tenemos para ofrecer!
    </head>
</body>

</html>